* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #dfdfdf;
    --secondary-color:#826343;
    --tertiary-color:#13361c;
    --quaternary-color: #F1F1F1;
    --border-color: #cc9a48;
    --font-color: #212717;
}

body {
    font-family:'Courier New', Courier, monospace;
    color: var(--font-color);
}

header {
    z-index: 9999;
    background-color: var(--primary-color);
    background-position: 80%;
    background-size: cover;
    background-position: center;
    display:flex;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }

header h1 {
    font-weight: bolder;
    font-size: 2vw;
    color: var(--secondary-color);
    padding: 10px 20px 0px 100px;
    background-color: var(--quaternary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 0px;
    margin-left: 0px;
}

header nav {
    margin: .5%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration:none;
}

header nav ul li a:hover {
    text-decoration:underline;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/hero-background.jpeg");
    background-size:cover;
    background-position: relative;
    align-items: flex-end;
    height:20vw;
}

.hero div {
    position: absolute;
    right: 50px;
    margin: auto 50px 20px auto;
}

.hero div h2 {
    font-size: 30px;
    font-weight: bolder;
    font-size: 1.35pw;
    color: var(--secondary-color);
    padding: 20px;
    background-color: var(--quaternary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#project-3 {
    position: relative;
}
#niques-eats-text {
    position: absolute;
    z-index:5;
    top:18vw;
}

.block h2 {
font-size: 40px;
text-align: right;
width: 20%;
margin: 3.5%;
color: var(--secondary-color)
}

.right  {
    border-left:solid var(--secondary-color) 4px;
}

.right p{ 
    text-align: left;
    color:var(--font-color);
    font-size: 1.5vw;
    padding-top: 6%;
}


.right h3 {
    position: absolute;
    background-color: #403621bd;
    padding: 5px;
    font-size: 1.7vw;
    box-shadow: 1vw 1vw 2vw black;
    border-radius: 25px;
}

.right a {
    text-decoration: none;
    color: var(--quaternary-color);
}



footer div ul li{
    font-size: 1.25vw;
    color: var(--font-color);
    padding: 30px;
}

.nav-item a{
    font-size: 1.25vw;
    color: var(--font-color);
}

@media screen and (max-width: 817px) {
    footer div ul li{
        padding: 26px ;
}
}