* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #dfdfdf;
    --secondary-color:#826343;
    --tertiary-color:#13361c;
    --quaternary-color: #F1F1F1;
    --border-color: #cc9a48;
    --font-color: #212717;
}

body {
    font-family:monaco;
    color: var(--font-color);
}

header {
    z-index: 9999;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display:flex;
    justify-content: space-between;
    padding: 20px 35px 35px 0px;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }

header h1 {
    font-weight: bolder;
    font-size: 48px;
    color: var(--secondary-color);
    padding: 10px 20px 0px 100px;
    background-color: var(--quaternary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav {
    margin: 40px 15px 20px 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 80px 15px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--secondary-color);
    text-decoration:none;
}

header nav ul li a:hover {
    text-decoration:underline;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/hero-background.jpeg");
    background-size:cover;
    background-position: relative;
    align-items: flex-end;
    height:300px;
}

.hero div {
    position: absolute;
    right: 50px;
    margin: auto 50px 20px auto;
}

.hero div h2 {
    font-size: 30px;
    font-weight: bolder;
    font-size: 1.35pw;
    color: var(--secondary-color);
    padding: 20px;
    background-color: var(--quaternary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    
    background-color: #FEFEFE;
}

.title h2 {
font-size: 48px;
width: 20%;
align-items: flex-start; 
text-align: right;
margin: 3.5%;
color: var(--font-color);
}

.title p {
    align-items: flex-end;
}


