* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #dfdfdf;
    --secondary-color:#826343;
    --tertiary-color:#13361c;
    --quaternary-color: #F1F1F1;
    --border-color: #cc9a48;
    --font-color: #212717;
}

body {
    font-family:'Courier New', Courier, monospace;
    color: var(--font-color);
}

header {
    z-index: 9999;
    background-color: var(--primary-color);
    background-position: 80%;
    background-size: cover;
    background-position: center;
    display:flex;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }

header h1 {
    font-weight: bolder;
    font-size: 2vw;
    color: var(--secondary-color);
    padding: 10px 20px 0px 100px;
    background-color: var(--quaternary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 0px;
    margin-left: 0px;
}

header nav {
    margin: .5%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--secondary-color);
    text-decoration:none;
}

header nav ul li a:hover {
    text-decoration:underline;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./images/hero-background.jpeg");
    background-size:cover;
    background-position: relative;
    align-items: flex-end;
    height:20vw;
}

.hero div {
    position: absolute;
    right: 50px;
    margin: auto 50px 20px auto;
}

.hero div h2 {
    font-size: 30px;
    font-weight: bolder;
    font-size: 1.35pw;
    color: var(--secondary-color);
    padding: 20px;
    background-color: var(--quaternary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.block {
    display: flex;
    background-color: #FEFEFE;
    padding: 10px;
    border-right: var(--secondary-color);
    overflow: hidden;
}

.block h2 {
font-size: 48px;
width: 20%;
align-items: flex-start; 
text-align: right;
margin: 3.5%;
color: var(--secondary-color)
}

.right {
    border-left:solid var(--secondary-color) 5px;
    padding: 10px 80px 50px 15px;
    display: inline-block
}

.right p{ 
    text-align: left;
    color:var(--font-color);
    font-size: 1.5vw;
    padding-top: 7%;
}

.right img {
    height: 50px;
}

footer div ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

footer div ul li{
    padding: 10px 80px 0px 15px;
    font-weight: lighter;
    font-size: 0.75vw;
    color: var(--secondary-color);
    font-style: normal;
    text-decoration:none;
}

footer div ul li:hover {
    font-style: italic;
    text-decoration:underline;
}
